

ion-icon{
    font-size: 30px;
}

#col {
    text-align: center;
  }

.col{
    text-align: center;
}


.image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .text-overlay {
    position: absolute;
    padding: 10px;
  }

  ion-toolbar {
    --background: #19422d00;
    --color: white;
  }

  .text-overlay-f {
    position: absolute;
    padding: 10px;
    top: 80%;
  }






  