

<ion-content [fullscreen]="true">

   


</ion-content>

<ion-footer>


    <ion-card-header>
      <ion-row>
        <ion-icon name="person-circle-outline" style="font-size: 40px; padding: 10px 0; "></ion-icon>
         <h1 style="font-size: 20px; padding: 0 15px; ">@Joxo</h1>
          <ion-col><ion-button shape="round" fill="outline" >Seguir</ion-button></ion-col>
          <ion-icon name="heart-outline" style="font-size: 40px;"></ion-icon>
      </ion-row>
       </ion-card-header>

    <ion-card-header>
      <ion-row>
     <ion-col>Descripcion</ion-col>
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-row>
  </ion-card-header>

  <ion-card-header>
    <ion-row>
   <ion-col>#ToJob</ion-col>
  </ion-row>
</ion-card-header>


</ion-footer>
