<ion-toolbar class="text-overlay">

  <ion-buttons slot="secondary">
    <ion-button [routerLink]="['/tabs/tab2']">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>To Job</ion-title>


</ion-toolbar>



<div class="image-container">

  <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Descripción de la imagen" width="100%" height="100%" style="position: relative;">

</div>



<ion-toolbar class="text-overlay-f">

      
    <ion-row>
      <ion-icon name="person-circle-outline" style="font-size: 55px; padding: 10px 0; "></ion-icon>
       <h1 style="font-size: 20px; padding: 0 15px; ">@Joxo</h1>
        <ion-col><ion-button shape="round" fill="outline"  style="--border-color: #fff; --color: #fff; --color-activated:#1EA3BE;">Seguir</ion-button></ion-col>
        <ion-icon name="heart-outline" style="font-size: 40px;"></ion-icon>
    </ion-row>

    <ion-row>
   <ion-col>Descripcion</ion-col>
    <ion-icon name="ellipsis-vertical" id="open-modal-a"></ion-icon>
  </ion-row>

  <ion-row>
 <ion-col>#ToJob</ion-col>
</ion-row>


<ion-modal
trigger="open-modal-a"
[initialBreakpoint]="0.20"
[breakpoints]="[0, 0.25, 0.5, 0.75]"
handleBehavior="cycle"
>
<ng-template>
<ion-content class="ion-padding">
  <div class="ion-margin-top">

    <ion-grid>
      <ion-row>
        <ion-col class="col"><ion-icon name="bookmark-outline" id="open-modal-g"></ion-icon></ion-col>
        <ion-col class="col"><ion-icon name="eye-off" id="open-toast"></ion-icon></ion-col>
        <ion-col class="col"><ion-icon name="alert-outline" style=" color: red;" id="open-modal-r"></ion-icon></ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="col" id="open-modal-g">Guardar</ion-col>
        <ion-col class="col" id="open-modal-o">Ocultar</ion-col>
        <ion-col class="col" style="color: red;" id="open-modal-r">Reportar</ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>



<ion-toast trigger="open-toast" message="Ya no se mostraran publicaciones relacionadas" [duration]="2000"></ion-toast>


<ion-modal
trigger="open-modal-g"
[initialBreakpoint]="0.40"
[breakpoints]="[0, 0.25, 0.5, 0.75]"
handleBehavior="cycle"
>
<ng-template>
<ion-content color="light">



  <ion-list lines="none" style="display: flex; flex-direction: column; align-items: center; justify-content: center;  padding-top:20px ;">
      <ion-item>
        <ion-icon name="bookmark-sharp" style="font-size: 50px;"></ion-icon>
      </ion-item>
      <ion-item>
        <h3>Guardado</h3>
      </ion-item>
  </ion-list>


  <ion-list lines="none">
    <ion-item>
      <h2>Agregar a colección</h2>
    </ion-item>
    <ion-button fill="clear" slot="end">Crea nueva</ion-button>
  </ion-list>

  <ion-list lines="none">
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Get eggs"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Get milk"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
      <ion-input aria-label="Task name" value="Take out compost"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
</ng-template>
</ion-modal>



<ion-modal
trigger="open-modal-r"
[initialBreakpoint]="0.65"
[breakpoints]="[0, 0.25, 0.5, 0.75]"
handleBehavior="cycle"
>
<ng-template>
<ion-content class="ion-padding">
  <div class="ion-margin-top">

    <ion-list lines="none">
      <ion-item>
        <h1>Selecciona un problema</h1>
      </ion-item>
      <ion-item>
        <ion-label>Recuerda que tu denuncia es anonima </ion-label>
      </ion-item>
    </ion-list>


    <ion-list lines="none">
      <ion-item>
        <ion-label>Spam</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Desnudos o actividad sexual</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Lenguaje que incita el odio</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Informacion falsa</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Estafa o fraude</ion-label>
      </ion-item>
      <ion-item>
        <ion-input label="Otro" placeholder="Escribelo"></ion-input>
      </ion-item>
    </ion-list>
    </div>
</ion-content>
</ng-template>
</ion-modal>



</ng-template>

</ion-modal>


</ion-toolbar>
